<section id="chart-wrapper">
  <header>
    <h2 class="headerTitle">La popularidad de tu nombre</h2>
    <aside class="headerSubTitle">Datos expresados en 1 x 1.000 nombres registrados por año.</aside>
  </header>
  <div id="main-chart" class="chart"></div>
</section>
