<!-- <section id="section2" class="section containerCenter">
  <section id="main">
    <section id="chart-wrapper">
      <header class="titleContainer">
        <h2 class="header title">La popularidad de tu nombre</h2>
        <aside class="header subTitle">Datos expresados en 1 x 1.000 nombres registrados por año.</aside>
      </header>
      <div id="main-chart" class="chart titleContainer"></div>
    </section>
  </section>
</section>
<section id="section3" class="section containerCenter">
  <section id="extra-name-data">
      <header class="titleContainer">
          <h2 class="header title">¿Sab&iacute;as qué?</h2>
      </header>
      <div id="nameDataContainer"></div>
  </section>
</section>
<section id="section4" class="section containerCenter">
  <section id="extra-year-data">
      <header class="headerSection">
          <h2 class="header title">Nombres más frecuentes</h2>
          <aside class="header subTitle">Datos expresados según períodos.</aside>
      </header>
      <div id="female-year-chart" class="chart year-chart"></div>
      <div id="male-year-chart" class="chart year-chart"></div>
    </section>
</section>
<footer id="section5" class="section containerCenter">
    <p>Datos provistos por la Dirección Nacional de las Personas - Secretaría de Interior - Ministerio del Interior , Obras Públicas y Vivienda.</p>
    <p>Desarrollo: Dirección de Servicios Analíticos, Subsecretaría de Innovación Pública y Gobierno Abierto, Secretaría de Gestión de Innovación Pública, Ministerio de Modernización</p>
    <p>¿desarrolladores de Uruguay??</p>
    <p>Descarga</p>
    <button type="button" name="button">CSV</button>
</footer> -->
<section id="section2" class="section">
  <header class="sectionHeader containerCenter">
      <h2 class="headerTitle">La popularidad de tu nombre</h2>
      <aside class="headerSubTitle">Datos expresados en 1 x 1.000 nombres registrados por año.</aside>
  </header>
  <section class="sectionContainer containerCenter">
    <div id="main-chart" class="chart"></div>
  </section>
</section>
<section id="section3" class="section containerCenter">
  <section class="sectionContainerFull containerCenter">
    <h2 class="headerTitle">¿Te imaginabas esto?</h2>
    <div id="nameDataContainer"></div>
  </section>
</section>
<section id="section4" class="section containerCenter">
  <header class="sectionHeader containerCenter">
      <h2 class="headerTitle">Nombres más frecuentes</h2>
      <aside class="headerSubTitle">Datos expresados según períodos.</aside>
  </header>
  <section class="sectionContainer containerCenter">
        <!-- <div id="female-year-chart" class="chart year-chart"></div>
        <div id="male-year-chart" class="chart year-chart"></div> -->
  </section>
</section>
