<section id="chart-wrapper">
  <header>
    <h2 class="text-center">Tus estad&iacute;sticas</h2>
  </header>
  <div id="main-chart" class="chart"></div>
</section>

<section id="extra-name-data">
  <header>
    <h2 class="text-center">Sab&iacute;as que</h2>
  </header>
  <ul></ul>
</section>

<section id="extra-year-data">
  <header>
    <h2 class="text-center">Explor&aacute; los top 10</h2>
  </header>
  <!-- <div id="female-year-chart" class="chart year-chart"></div>
  <div id="male-year-chart" class="chart year-chart"></div> -->
</section>