/* Libraries */
@import('reset.css');

/* Base  ***********************************************************/
html {
  font-size: 16px;
}

/* Footer **********************************************************/
footer {
  background: #3E4452;
  text-align: center;
  color: #A7B3BF;
  font-size: 1.3em;
}

footer .external-links a {
  display: inline-block;
  margin: 10px 20px;
}

/* Forms ***********************************************************/
.form-field,
.form-input,
.form-label {
  display: inline-block;
}

.form-input {
  position: relative;
}

.form-label {
  margin-bottom: 10px;
}

.form-field.error input,
.form-field.error select {
  border: 2px solid #ED4043;
  color: #ED4043;
}

.form-error {
  position: absolute;
  width: 100%;
  bottom: 3em;
  padding: 6px 0;
}

.form-error p {
  margin: 0;
  display: inline-block;
  background: #ED4043;
  border-radius: 5px;
  padding: 0.2em 0.8em;
  font-size: 0.6em;
}

.form-error .tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #ED4043;
}

/* Alerts **********************************************************/
.alert.alert-info {
  border-color: #3A87AD;
}

.alert.alert-error {
  border-color: #B94A48;
}

/* Main content *****************************************************/

.tooltip {
  position: absolute;
  z-index: 1030;
  display: block;
  visibility: visible;
  font-size: 12px;
  line-height: 1.4;
  opacity: 0;
  filter: alpha(opacity=0);
  opacity: 0.9;
  filter: alpha(opacity=90);
  margin-top: -3px;
  padding: 5px 0;
}
.tooltip-inner {
  max-width: 200px;
  padding: 3px 8px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  background-color: #000000;
  border-radius: 4px;
}
.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 5px 5px 0;
  border-top-color: #000000;
}

/* Chart */
#chart-wrapper {
  display: none;
}

#main-chart {
  min-height: 400px;
  margin: 30px 0;
  text-align: center;
}

.chart .tooltip-item:nth-child(n+1) {
  color: #FFF;
}

.chart .tooltip-item:nth-child(n+2) {
  color: #52BE7F;
}

.chart .jqplot-table-legend-swatch {
 width: 10px;
}

.chart .jqplot-highlighter-tooltip {
  border-radius: 3px;
  border: 0;
  padding: 2px 10px;
  background: #3E4452;
  font-size: 1.3em;
  color: #CCC;
  z-index: 10000;
}

#main-chart .jqplot-axis {
  font-size: 1.3em;
  color: #363B48;
}

#main.active #chart-wrapper {
  /*color: #363B48;*/
  display: block;
}

#main-chart .jqplot-table-legend {
  border: none;
  font-size: 1.1em;
}

#main-chart .jqplot-table-legend-swatch {
  border-top-width: 10px;
  border-bottom-width: 10px;
}

#main-chart .jqplot-table-legend-swatch-outline {
  border: none;
}

#main-chart .jqplot-table-legend tr:last-child {
  display: none;
}

/* Extra data */


/* Extra year data */
#extra-year-data svg {
  margin: 20px;
}

#extra-year-data .year-chart {
  width: 45%;
  height: 270px;
  float: left;
  margin: 40px 10% 40px 0;
}

#extra-year-data .year-chart:last-child {
  margin-right: 0;
}

#extra-year-data .year-chart .jqplot-table-legend {
  margin: 0;
  border: 0;
  text-transform: capitalize;
}

#extra-year-data .year-chart table.jqplot-table-legend {
  font-size: 1.3em;
  top: 5%;
  height: 80%;
}

/*** Lists ***/
ul {
  list-style: none;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px;
}

#extra-name-data ul {
  width: 60%;
  text-align: center;
  margin: 30px auto;
}

#extra-name-data ul li {
  margin: 10px 0px;
}


/* Media queries **********************************************************/
@media screen and (max-width: 1000px) {
  /*#chart-wrapper,
  #main form,
  #extra-name-data,
  #extra-year-data,
  #name-examples,
  #introduction,
  footer {
    padding: 16px 10%;
  }*/

  /*#extra-year-data .year-chart {
    margin-top: 10px;
  }*/

  #extra-name-data header, #extra-year-data header {
    margin-bottom: 0;
  }
}

/*@media screen and (max-width: 900px) {
  #chart-wrapper,
  /*#main form,*/
  #extra-name-data,
  #extra-year-data,
  #name-examples,
  #introduction,
  footer {
    padding: 14px 5%;
  }
}*/
@media screen and (max-width: 800px) {
  h1 {
    font-size: 2.6em;
  }

  h2 {
    font-size: 2em;
  }

  #name-examples header {
    margin: 0 auto;
  }

  #extra-year-data .year-chart {
    margin: 10px auto;
    float: none;
    width: 100%;
  }
}

@media screen and (max-width: 700px) {
  #name-examples li,
  #name-examples li:last-child {
    width: 100%;
    margin: 10px auto;
    float: none;
  }
}

@media screen and (max-width: 600px) {
  .form-field {
    display: block;
    margin: 10px auto;
  }

  #extra-name-data li {
    width: 50%;
    margin: 0 auto;
  }

  .main-header {
    margin: 0 5%;
  }
}

.main-form-title {
  text-align:center;
  position: relative;
  z-index: 1;
  margin-bottom:16px;
}
.main-form-title h1 {
  font-weight: 700;
}

/******
 * Line Chart
 *****/

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line0, .line1 {
  fill: none;
  stroke-width: 3px;
}

.line0 {
  stroke: aquamarine;
}

.line1 {
  stroke: orange;
}

.hover-line {
  fill: none;
  pointer-events: all;
}

.focus circle {
  fill: none;
  stroke: steelblue;
}

/* News Modifications Francisco López */

/* RESET */
section {
  padding: 0px;
}
#main-chart {
  display: none;
}
.bubblefemale {
  display: none;
}
/* RESET */
.navbar-brand {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
background-color: #3C3C3C;
border: 0;
border-radius: 10px;
padding: 10px;
font-weight: 400;
width: 100%;
}
p {
  font-size: 20px;
  font-weight: 300;
  margin: 20px auto;
  max-width: 80%;
  line-height: 1.3;
}
.containerCenter {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
height: 100vh;
width: 100vw;
padding: 0px;
}
.header {
color: #5D5D5D;
text-align: center;
max-width: 800px;
}
.titleContainer {
display: flex;
align-items: center;
flex-direction: column;
justify-content: center;
}
.title {
font-weight: 600;
font-size: 22px;
}
.subTitle {
font-weight: normal;
font-size: 15px;
}
#containerSlide {
  display: none;
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
}
#firstheader {
position: fixed;
top: 0px;
left: 0px;
width: 100%;
z-index: 500;
}
#section1 {
  background: white;
  padding: 64px 20px 0px 20px;
}
#titleIntroduction {
height: 35%;
}
#introduction {
  background-image: url('/images/nuevaTrama.png');
  background-size: auto;
  text-shadow: none;
  height: 65%;
  color: white;
  padding: 20px;
}

#firstheader {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 9999;
}
.panels {
  height: 100vh;
  overflow: hidden;
  padding: 0;
  border-bottom: silver 1px solid;
}
.headerSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.headerTitle {
  font-weight: 600;
  font-size: 32px;
  color: white;
  text-align: center;
  width: 550px;
}
#introduction label {
  font-size: 25px;
  font-weight: 300;
  width: 100%;
  text-align: center;
}
.lastLabel {
  margin-top: 20px;
}
#introduction input {
border: solid 2px #F6712E;
border-radius: 10px;
background-color: orange;
color: white;
padding: 10px;
outline: none;
width: 100%;
text-align: center;
}
#introduction input::-webkit-input-placeholder {
color: white;
font-weight: 100;
text-align: center;
}
#introduction input:-moz-placeholder {
color: white;
font-weight: 100;
text-align: center;
}
#introduction input::-moz-placeholder {
color: white;
font-weight: 100;
text-align: center;
}
#introduction input:-ms-input-placeholder {
color: white;
font-weight: 100;
text-align: center;
}
#introduction button {
margin-top: 30px;
}
#section2 {
background-color: white;
padding: 64px 20px 0px 20px;
}
#section3 {
background-color: #F5712E;
padding: 64px 20px 0px 20px;
}
#extra-name-data {
display: flex;
flex-direction: column;
color: white;
align-items: center;
}
#extra-name-data h2 {
color: white;
}
#nameDataContainer {
text-align: center;
}
#section4 {
background-color: white;
padding: 64px 20px 0px 20px;
}
#section5 {
background-color: #E6E7E8;
padding: 64px 20px 0px 20px;
}
#section5 button {
margin-top: 15px;
max-width: 450px;
}
#section5 p {
  margin: 10px;
  font-size: 14px;
}

@media (min-width: 600px){
  p,
  #introduction label,
  .title {
    font-size: 45px;
  }
  p {
    margin: 25px auto;
  }
  button,
  .subTitle,
  #section5 p {
    font-size: 30px;
    margin: 25px auto;
  }
}
@media (min-width: 1024px){

}
