/* Seteo de propiedades */
html {
  font-size: 10px;
}
section,
h1,
h2 {
  margin: 0px 0px 1rem 0px;
  padding: 0px;
}
b {
  font-weight: 900;
}
hr {
  margin: 5px;
}

/* Barra Superior */
#firstheader {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  box-shadow: 0 2px 2px rgba(0,0,0,0.2);
  padding: 10px 20px;
  z-index: 100;
  height: 60px;
}
#logo {
  margin: auto;
  width: 200px;
}
#social {
  display: none;
}
#social ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin: 0px;
  padding: 0px;
}
.socialIcon {
  font-size: 30px;
  padding: 0px 10px;
}

/* Propiedades reutilizables */
.altoTotal {
  height: 100%;
  position: relative;
}
.vcenter {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.vcenterRow {
    display: flex;
    align-items: center;
    justify-content: center;
}
.columnas {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.anchoTotal {
  width: 100%;
}

/* Contenedores */
.sectionHeader {
  height: 40%;
  padding: 0px 0px 0px 0px;
  color: #5D5D5D;
}
#section1 .sectionHeader {
  background-image: url('/images/nuevaTrama.png');
  background-size: 5em;
  color: white;
  padding: 60px 0px 0px 0px;
}
#section4 .sectionHeader {
  height: 15%;
}
#section5 .sectionHeader {
  height: 70%;
}
.containerCont {
  height: 100%;
  padding: 0px 0px 0px 0px;
  width: 100%;
}
#section1 .containerCont {
  background-color: #3C3C3C;
  color: orange;
  height: 60%;
}
#section2 .containerCont {
  height: 60%;
}
#section4 .containerCont {
  height: 85%;
}
#section5 .containerCont {
  height: 30%;
  background-color: white;
  justify-content: center;
  padding: 20px 0px;
}

/* Encabezados */
.headerTitle {
  margin-bottom: 5px;
  font-size: 2rem;
  font-weight: 400;
}
#section1 .headerTitle {
  font-weight: 600;
  font-size: 3rem;
}
.headerSubTitle {
  font-size: 1rem;
  font-weight: 300;
}
#section1 .headerSubTitle {
  font-size: 1.3rem;
}

/* Parrafos */
#section3 p {
  font-size: 2.3rem;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.5);
  margin: 1rem auto 2.5rem auto;
}
#section3 p:last-child {
  margin-bottom: 0px;
}
#section5 p {
  font-size: 1rem;
  font-weight: 300;
  color: #868686;
  margin: 0px;
}

/* Secciones */
#section2 .containerCont {
  padding: 20px;
}
#section3 h2 {
  margin-bottom: 5rem;
  color: white;
}
#section1 label {
  font-size: 1.75rem;
}
#section1 input {
  border: 1px solid #5D5D5D;
  border-radius: 10px;
  background-color: transparent;
  color: white;
  outline: none;
  text-align: center;
  color: white;
  margin-bottom: 2rem;
  font-size: 1.3rem;
  padding: 0.25rem 0px;
  width: 100%;
}
#section1 input::-webkit-input-placeholder {
  color: #5D5D5D;
  font-weight: 300;
  text-align: center;
  font-size: 1.3rem;
}
#section1 button {
  background-color: orange;
  border: 0px;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  font-weight: 400;
  text-transform: none;
  font-size: 1.3rem;
}
#section5 button {
  background-color: #CCCCCC;
  border: 0px;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  font-weight: 400;
  text-transform: none;
  font-size: 1.3rem;
  color: #5D5D5D;
  margin: 0px;
}
#section2,
#section4 {
  background-color: white;
}
#section5 {
  background-color: #E6E7E8;
}
#section4 .contenedorCaritas {
  margin: 0px auto;
  top: 20px;
  position: relative;
}
#section3 p b {
  color: white;
}
#section5 header > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
#section3Padd {
  padding-top: 60px;
}

/* Tooltip generales*/
.colorWhite {
  color: white;
}
#tooltipLine {
  background: #fff;
  padding: .5em;
  opacity: 0.9;
  position: absolute;
  z-index: 999;
  border: silver 1px solid;
  font-size: 11px;
  width: 150px;
  display: none;
}
.ot-content {
    font-size: 0.75rem;
}

/* Graficos en Linea */
 #main-chart {
   /*top: 50%;
   left: 50%;
   position: absolute;
   transform: translate(-50%, -50%);*/
 }
 .axis path,
 .axis line {
   fill: none;
   stroke: #CCCCCC;
 }
 .axis path {
   stroke-width: 2px;
 }
 line.f0, path.f0,
 line.f1, path.f1,
 line.f2, path.f2,
 line.m0, path.m0,
 line.m1, path.m1,
 line.m2, path.m2 {
  fill: none;
  stroke-width: 0.3rem;
  stroke-linecap: round;
  stroke-linejoin: round;
 }
 line.f0,
 line.f1,
 line.f2,
 line.m0,
 line.m1,
 line.m2 {
  transform: translate(4px, 0.15rem);
 }
 line.f0, path.f0 {
   stroke: #FF5722;
 }
 line.f1, path.f1 {
   stroke: #BF360C;
 }
 line.f2, path.f2 {
   stroke: #FBE9E7;
 }
 line.m0, path.m0 {
   stroke: #4CAF50;
 }
 line.m1, path.m1 {
   stroke: #1B5E20;
 }
 line.m2, path.m2 {
   stroke: #C8E6C9;
 }
 .hover-line {
   fill: none;
   pointer-events: all;
 }
 .focus circle {
   fill: none;
   stroke: #5D5D5D;
 }
 .voronoi path {
   fill: none;
   pointer-events: all;
 }
 .line-hover{
   stroke-width: 4;
 }
 #infoNombres {
   position: absolute;
   top: -20%;
   display: flex;
   align-items: center;
 }
 #infoNombres svg {
   width: 24px;
   height: 0.3rem;
 }


 .yAxis .tick text {
   transform: translateX(-10px);
   font-size: 12px;
   fill: #CCCCCC;
 }
 .xAxis .tick text {
   transform: translateY(10px);
   font-size: 16px;
   fill: #777777;
 }

/* Grafico Bubble */
.contenedorCaritas {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  margin: 10px auto;
}
.contenedorCaritas svg {
  width: 100%;
}
.selectBubble {
  background-color: white;
  border: 1px solid silver;
  border-radius: 5px;
  padding: 3px;
  width: 100px;
  margin-left: 10px;
}
.seccionFormularioBubble {
  z-index: 20000;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  margin: 0px;
  font-size: 14px;
  font-weight: 400;
}
.contenedorCaritas svg {
  transform: scale(1.3);
}
.formularioBubble {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
input[type="radio"], input[type="checkbox"] {
  margin: 0px 5px 0px 5px;
}
#section4 input[type="radio"] {
  display: none;
}
.infoButton {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
#section4 label {
  cursor: pointer;
  position: relative;
  padding-left: 20px;
}
#section4 label:before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 5px;
  background-color: transparent;
  border: 1px solid #5D5D5D;
  border-radius: 100%;
}
#section4 input[type=radio]:checked + label:before {
  content: "\2022";
  color: #5D5D5D;
  font-size: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 900;
}

#section4 {

}
#extra-year-data {
  display: flex;
  padding: 50px 20px 0px 20px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.contenedorCaritas {
  display: none;
}
.malef:nth-child(10) {
  fill: rgba(66, 190, 92, 0.5) !important;
}
.femalef:nth-child(10) {
  fill: rgba(242, 113, 47, 0.5) !important;
}
#containerSlide {
  z-index: 999999;
  position: fixed;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
}
.formularioBubble > div > div {
  margin-left: 10px;
}
.redesSociales {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 25%;
  min-width: 200px;
  margin-top: 10px;
}
.redesSociales a,
.redesSociales a:hover {
  color: #868686;
  font-size: 2rem;
}
.redesSociales a:hover {
  color: rgba(0, 0, 0, 0.25);
}
#section5 h3 {
  font-size: 1rem;
  font-weight: 300;
  color: #868686;
}
#contenidoSitio {
  display: none;
}
#section1 input {
  padding: 0.5rem 0px;
}
#fp-nav {
  display: none;
}

#buscaPor {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: wrap;
}
#buscaPor label {
  margin: 0px;
}

/* Errores */
 #errorName {
   color: white;
   font-size: 1rem;
   font-weight: 300;
 }
 #errorYear {
   color: white;
   font-size: 1rem;
   font-weight: 300;
 }

/* Responsive */
@media(min-width:415px){
  html {
    font-size: 12px;
  }
}
@media(min-width:600px){
  /* Barra Superior */
  #firstheader {
    justify-content: space-around;
  }
  #logo {
      margin: 0px;
    }
  #social {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #extra-year-data {
    flex-direction: row;
    padding: 0px 20px 0px 20px;
  }
  #fp-nav {
    display: block;
  }
  .contenedorCaritas {
    display: block;
  }
  .formularioBubble select {
    padding: 0px;
  }
  .sectionHeader {
    height: 40%;
    padding: 60px 0px 0px 0px;
  }
  #section4 .sectionHeader {
    height: 25%;
  }
  #section4 .containerCont {
    height: 75%;
  }
  #section4 .sectionHeader {
    height: 25%;
  }
  #section2 .containerCont {
    padding: 20px 40px;
  }
  #section5 .sectionHeader {
    height: 70%;
  }
}
@media(min-width:600px) and (min-height:900px) {
  html {
    font-size: 19px;
  }
}
@media(min-width:768px){
  html {
    font-size: 13px;
  }
  .seccionFormularioBubble {
    top: 25%;
  }
}
@media(min-width:992px){
  html {
    font-size: 16px;
  }
}
@media(min-width:1200px){
  html {
    font-size: 16px;
  }
}
@media(min-width:1400px){
  html {
    font-size: 18px;
  }
}
