/* RESET */
label,
section,
h1,
h2 {
  margin: 0px 0px 10px 0px;
  padding: 0px;
}
b {
  font-weight: 900;
}

/* NAV */
#firstheader {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  box-shadow: 0 2px 2px rgba(0,0,0,0.2);
  padding: 10px 20px;
  z-index: 100;
  height: 60px;
}
#logo {
    margin: auto;
    width: 200px;
  }
#social {
    display: none;
  }

/* HEADER */
.sectionHeader {
  height: 40%;
  padding-top: 60px;
}
.headerTitle,
.headerSubTitle {
  text-align: center;
  width: 80%;
}
.headerTitle {
  font-size: 30px;
}
.headerSubTitle {
  font-size: 18px;
}

/* GENERALES */
.section {
  background-color: white;
  height: 100vh;
  margin: 0px;
  padding: 0px;
  width: 100vw;
}
.section > .fp-tableCell {
  width: 100%;
}
.containerCenter {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.sectionContainer {
  height: 60%;
}

/* SECCIONES */
#section1 {}
#section1 .sectionContainer {
  background-image: url('/images/nuevaTrama.png');
  color: white;
  font-size: 24px;
}
#section1 input {
  border: solid 2px #F6712E;
  border-radius: 10px;
  background-color: orange;
  padding: 5px;
  width: 100%;
  outline: none;
  text-align: center;
  font-size: 18px;
  margin-bottom: 20px;
}
#section1 input::-webkit-input-placeholder {
  color: white;
  font-weight: 300;
  text-align: center;
}
#section1 button {
  background-color: #3C3C3C;
  border: 0px;
  border-radius: 10px;
  padding: 5px;
  font-weight: 400;
  width: 50%;
  font-size: 18px;
  margin-top: 20px;
}
#section2 {
  display: block;
}
#section3 {
  display: block;
  color: white;
}
#section3 h2 {
  margin-bottom: 60px;
}
#section3 #nameDataContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#section4 {
  display: block;
}
#section5 {
  background-color: #E6E7E8;
}
#section3 .sectionContainerFull,
#section5 .sectionContainerFull {
  height: 100vh;
  padding-top: 60px;
}
#section3 p,
#section5 p {
  text-align: center;
  margin: 10px auto;
  width: 80%;
}
#section3 p {
  font-size: 18px;
}
#section5 p {
  font-size: 14px;
  font-weight: 300;
}

@media screen and (min-width: 700px) {
  .headerTitle {
    font-size: 55px;
  }
  .headerSubTitle {
    font-size: 30px;
  }
  #section1 .sectionContainer {
    font-size: 52px;
  }
  #section1 input {
    font-size: 30px;
    margin-bottom: 40px;
  }
  #section1 button {
    font-size: 30px;
  }
  #section3 p,
  #section5 p {
    margin: 20px auto;
  }
  #section3 p {
    font-size: 40px;
  }
  #section5 p {
    font-size: 30px;
  }
  #firstheader {
    justify-content: space-around;
  }
  #logo {
    margin: inherit;
  }
  #social {
    display: flex;
  }
}
@media screen and (min-width: 700px) {
  .headerTitle {
    font-size: 42px;
  }
  .headerSubTitle {
    font-size: 26px;
  }
  #section1 .sectionContainer {
    font-size: 30px;
  }
  #section1 input {
    font-size: 20px;
    margin-bottom: 20px;
  }
  #section1 button {
    font-size: 20px;
  }
  #section3 p,
  #section5 p {
    margin: 10px auto;
  }
  #section3 p {
    font-size: 20px;
  }
  #section5 p {
    font-size: 26px;
  }
}
